/* NAVBAR MEDIA QUERY */
@media (max-width:1000px) {
    header {
        padding: 20px 50px;
    }
}

@media (max-width:700px) {
    header {
        flex-direction: column;
    }

    header h2 {
        margin-bottom: 15px;
    }

    header nav li {
        margin: 0 7px;
    }
}

/* SECTION BANNER MEDIA QUERY CODES */

@media (max-width:1000px) {
    section {
        padding: 100px 50px;
    }
}

@media (max-width:600px) {
    section {
        padding: 125px 30px;
    }
}

@media (max-width:800px) {
    .banner-area {
        min-height: 600px;
    }

    .banner-area h1 {
        font-size: 32px;
    }

    .banner-area h3 {
        font-size: 20px;
    }

    .banner-area a.banner-btn {
        padding: 15px 40px;

    }
}

/* ABOUT MEDIA QUERY CODES */

@media (max-width:1000px) {

    .about-left,
    .about-right {
        flex-basis: 100%;
    }

    .about-content li {
        padding: 8px;
    }
}

/* SERVICES MEDIA QUERY CODES */

@media (max-width:1000px) {
    .services-content li {
        flex-basis: 100%;
        margin-bottom: 35px;
    }

    .services-content li i,
    h4 {
        font-size: 25px;
    }

    .services-content li p {
        font-size: 13px;
        padding: 0;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 3rem;
    }
}

/* CONTACT MEDIA QUERY CODES */

@media (max-width:1000px) {
    .contact-content li {
        flex-basis: 100%;
        margin-bottom: 65px;
    }

    .contact-content li:last-child {
        margin-bottom: 0;
    }

    .contact-content li p {
        padding: 0;
        font-size: 13px;
    }

    .contact-content li i,
    h4 {
        font-size: 30px;
    }

    .section-title {
        font-size: 30px;
    }
}